body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    color:white;
    background-color:#2b2d42;
  }
  main
  {
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
  }
  section
  {
    text-align: center;
  }
  h2{
    text-align: center;
    display:inline-block;
    margin: 0 auto;
    padding: 10px 58px;
    /* border-top-right-radius:20px;
    border-top-left-radius:20px; */
    /* border-bottom-right-radius:20px;
    border-bottom-left-radius:20px; */
    /* background-color: white; */
    color:white;
  }
  form {
    max-width: 400px;
    margin: 0 auto;
    background-image:url(https://images.unsplash.com/photo-1508730328641-47c1616341b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTh8fG1hcmF0aG9ufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    display: inline-block;
    margin-right: 5px;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  input[type="submit"]:focus {
    outline: none;
  }
  
  .error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
  }
  /* button
  {
      background-color:#151b29;
      font-family:Arial, Helvetica, sans-serif;
      font-family: 'Roboto', sans-serif;
      border-radius: .5em;
      color: peachpuff;
      border: 3px solid black;
      padding:5px 10px;
      transition: .3s;
  }
  button:hover
  {
      border: 3px solid white;
      color: white;
      transform: translateX(3px);
      background-color: black;
      offset-x | offset-y | blur-radius | spread-radius | color
      box-shadow: .5em 0em .5em -.2em yellow;
  } */
  button {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  .h
  {
    color: #111;
  }
  button:hover {
    background-color: var(--hover-color);
  }
  
  button:hover .arrow {
    background: var(--secondary-color);
  }
  
  button:hover .arrow:before {
    right: 0;
  }
